.banner {
  height: 200px;
  position: relative;
  background-color: #f6f9f6;
}

.large {
  top: 50%;
  left: 10%;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  transform: translateY(-50%);
}

.small {
  top: 50%;
  right: 10%;
  font-size: 20px;
  font-style: italic;
  position: absolute;
  transform: translateY(-50%);
}

.container {
  display: flex;
  gap: 20px;
}
.sidebar {
  width: 23%;
}
.product {
  width: 75%;
}
.search {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
}
.search input {
  padding: 10px;
}
.search select {
  padding: 0 15px;
}
