.sidebar a {
  text-decoration: none;
  font-style: italic;
  color: #adb5bd;
  padding-left: 20px;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a .active {
  color: #d7ae0d;
  padding-bottom: 5px;
}

.sidebar h3 {
  margin-left: 40px;
  font-size: 24px;
  font-style: italic;
}
.sidebar h4 {
  color: white;
  background-color: black;
  font-style: italic;
  padding: 10px 20px;
}
.sidebar h5 {
  font-size: 18px;
  background-color: #f6f9f6;
  font-style: italic;
  padding: 10px 20px;
  margin: 20px 0;
}
