/*-----DETAIL PRODUCT-----*/
.container {
  display: grid;
  grid-template-columns: 100px 415px 600px;
  gap: 20px;
  margin-left: 100px;
  margin-top: 30px;
}
.info {
  margin-left: 30px;
}
.info p {
  font-style: italic;
}
.name {
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
}
.price {
  font-size: 22px;
  color: #999;
}
.short_desc {
  color: #999;
}
.addcart button {
  color: white;
  background-color: #444444;
  border: none;
  cursor: pointer;
  padding: 11px 20px 9px;
  font-size: 15px;
  font-style: italic;
}
.addcart button:hover {
  background-color: #7e7a7a;
}
.quantity {
  border: 1px solid #adb5bd;
  padding: 7px;
  font-size: 15px;
}
.quantity span {
  margin-right: 40px;
  color: #adb5bd;
}
.quantity i {
  padding: 0 12px;
  cursor: pointer;
}

/*-----DESCRIPTION-----*/
.sub_container {
  margin-top: 50px;
  margin-left: 100px;
}
.description {
  color: white;
  background-color: #444444;
  padding: 10px 20px;
  border: none;
  font-style: italic;
}
.long_desc {
  font-style: italic;
  color: #999;
  line-height: 1.1;
  margin-right: 100px;
}
.sub_container h3 {
  font-style: italic;
  font-weight: 500;
  padding: 10px 0;
}
.sub_container h3:nth-child(4) {
  margin-top: 50px;
}

/*-----RELATED PRODUCT-----*/
.related {
  display: flex;
}
.related_product {
  width: 250px;
  text-align: center;
  margin-right: 50px;
}
.related_product p {
  font-style: italic;
  margin: 10px 0;
}
.related_product p:nth-child(3) {
  color: #999;
}
