.banner {
  position: relative;
}

.sub_banner {
  top: 50%;
  padding-left: 5%;
  max-width: 450px;
  position: absolute;
  transform: translateY(-50%);
}

.sub_title {
  color: #999;
  margin: 10px 0;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 2px;
  display: inline-block;
}

.title {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 15px;
  display: inline-block;
}

.btn {
  padding: 0;
  border: none;
}

.btn a {
  border: none;
  color: white;
  width: 250px;
  padding: 10px 20px;
  font-size: 18px;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  background-color: #383838;
}

.btn a:hover {
  background-color: #7e7a7a;
}
