.title {
  text-align: center;
  font-style: italic;
}

.title p {
  color: #999;
}

.top {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-top: 30px;
}

.top a:hover,
.bottom a:hover {
  transition: 0.2s all;
  opacity: 0.6;
  cursor: pointer;
}
