.btn_chat {
  position: fixed;
  bottom: 10%;
  right: 2%;
  border-radius: 50%;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
}

.chat {
  height: 65%;
  width: 350px;
  position: fixed;
  bottom: 20%;
  right: 80px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(110, 110, 110, 0.3);
}

.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}
.top p {
  margin-left: 20px;
  font-weight: 600;
}
.top button {
  font-style: italic;
  color: #999;
  margin: 10px 15px;
  border: none;
  cursor: pointer;
}
.top button:hover {
  background-color: #495057;
  color: white;
}

.main {
  height: 75%;
}
.client {
  float: right;
  background-color: #3399ff;
  margin: 5px 20px 5px 0;
  padding: 5px 10px;
}
.admin {
  float: left;
  background-color: #f1f3f5;
  margin: 5px 40px 5px 20px;
  padding: 5px 10px;
}

.bottom {
  border-top: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.bottom input {
  border: none;
  margin-left: 20px;
  font-size: 16px;
}
.bottom input:focus {
  outline: none;
}
.bottom i {
  padding: 0px 5px;
}
