.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  background-color: white;
  font-style: italic;
}

.price {
  color: #383838;
  font-size: 18px;
}
.desc {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}

.btn {
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #383838;
}
.btn i {
  padding-right: 10px;
}
.btn:hover {
  color: black;
  cursor: pointer;
  background-color: #ccc;
}

.close {
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  position: absolute;
  margin: 10px 10px 0 0;
  background-color: white;
  color: black;
}

.close:hover {
  cursor: pointer;
  background-color: #ccc;
}
