.login {
  background-image: url(/public/images/banner1.jpg);
  background-size: contain;
  height: 90vh;
  position: relative;
}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 75%;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(110, 110, 110, 0.1);
}
.container h3 {
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin: 0;
  color: #343a40;
}
.container p {
  font-style: italic;
  text-align: center;
  padding-top: 20px;
}
.container a {
  text-decoration: none;
  color: #339af0;
}

/*-----FORM-----*/
.form {
  display: flex;
  flex-direction: column;
  margin: 60px 30px 0;
}

.form input {
  padding: 20px;
  border: 1px solid #eee;
}

.form input:focus {
  outline: none;
}

.form button {
  background-color: #383838;
  padding: 15px;
  color: white;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #7e7a7a;
}
