.navbar {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.navbar nav {
  margin: 0 10px;
}

.navbar button {
  font-size: 18px;
  font-style: italic;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.navbar button:hover {
  color: #d7ae0d;
}

.navbar i {
  padding: 0 5px;
}

.home {
  color: #d7ae0d;
}

.logo {
  margin: 0 10px;
  font-size: 24px;
  font-style: italic;
}
